<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>I am the first even column!</p>
        <button class="btn btn-primary" type="button">Go!</button>
      </div>
      
      <div class="col-lg-4">
        <p>I am the second even column</p>
        <button class="btn btn-primary" type="button">Go!</button>
      </div>

      <div class="col-lg-4">
        <p>I am the third even column</p>
        <button class="btn btn-primary" type="button">Go!</button> 
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p>I am the first even column!</p>
        <button class="btn btn-primary" type="button">Go!</button>
      </div>

      <div class="col-lg-4">
        <p>I am the second even column</p>
        <button class="btn btn-primary" type="button">Go!</button>
      </div>
      <div class="col-lg-4">
        <p>I am the third even column</p>
        <button class="btn btn-primary" type="button">Go!</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p>I am the first even column!</p>
        <button class="btn btn-primary" type="button">Go!</button>
      </div>
      <div class="col-lg-4">
        <p>I am the second even column</p>
        <button class="btn btn-primary" type="button">Go!</button>
      </div>

      <div class="col-lg-4">
        <p>I am the third even column</p>
        <button class="btn btn-primary" type="button">Go!</button>
      </div>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  
  </div>


<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
